@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=News+Cycle);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Lobster);
.banner {
  background-color: #ff00e8;
  width: 100%;
  padding: 0;
  border: 5px solid black;
  height: auto; }

#slider {
  width: 100%;
  height: 100%; }

#slider img {
  width: 100%;
  height: 100%;
  margin: 0 auto; }

#slider img {
  display: none; }

#slider img:nth-child(1) {
  display: block; }

.btn-slider {
  background-color: red;
  position: absolute;
  top: 55%;
  width: 100px;
  height: 100px; }

.main-container {
  background-color: red;
  min-height: 90%;
  padding: 0; }

.welcome-container {
  background-color: white;
  height: 30%;
  width: 100%; }

.article-container {
  height: auto;
  padding: 5px; }

.regular-article {
  background-color: yellow;
  width: 200px;
  height: 200px;
  border: 1px solid red;
  float: left; }

.box-slider-1 {
  width: 517px;
  height: 285px;
  background-color: transparent;
  z-index: 10;
  position: absolute;
  top: 33%;
  left: 47%;
  padding: 5px; }

.box-slider-opacity-1 {
  width: 517px;
  height: 320px;
  background-color: #190707;
  z-index: 9;
  position: absolute;
  top: 32%;
  left: 47%;
  -moz-opacity: 0.38;
  -khtml-opacity: 0.38;
  opacity: 0.38;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha" Opacity=38;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=38);
  filter: alpha(opacity=38); }

.button-change {
  width: 100px;
  height: 50px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.box-access {
  width: 300px;
  height: 250px;
  background-color: transparent;
  z-index: 10;
  position: absolute;
  top: 33%;
  left: 18%;
  padding: 5px; }

.box-access-opacity {
  width: 300px;
  height: 250px;
  background-color: #00A064;
  z-index: 9;
  position: absolute;
  top: 33%;
  left: 18%;
  -moz-opacity: 0.58;
  -khtml-opacity: 0.58;
  opacity: 0.58;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha" Opacity=58;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=58);
  filter: alpha(opacity=58); }

/* font-family: 'Roboto Condensed', sans-serif; */
/*font-family: 'Yanone Kaffeesatz', sans-serif;*/
/*font-family: 'Lora', serif;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'News Cycle', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Lobster', cursive;*/
.banner {
  font-family: 'Open Sans', sans-serif; }

.title {
  font-family: 'News Cycle', sans-serif; }

.title2 {
  font-size: 36px;
  font-weight: 700;
  font-weight: 100;
  letter-spacing: 5px; }

.title1 {
  font-size: 48px;
  font-weight: 300;
  font-weight: 100;
  letter-spacing: 7px; }

.text-special {
  border: 2px solid white;
  width: 60px;
  height: 60px;
  border-radus: 53px !important;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 25px; }

.text-special p {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  line-height: 50px; }

#text-special2 {
  margin-top: 10px; }

#text-special1:hover {
  background-color: white;
  color: black; }

.logo {
  width: 25%;
  background-image: url("../resources/img/logo.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }

.icon-lang {
  width: 20%; }

.btn {
  background-color: #431D46;
  margin-top: 15px; }

.button-change .btn-cg {
  border: 2px solid white;
  width: 20px;
  height: 20px;
  border-radus: 15px !important;
  border: 1px solid white;
  border-radius: 25px;
  margin: 5px; }

.btn-cg:hover {
  width: 25px;
  height: 25px; }

.menu {
  width: 55%;
  font-family: 'Open Sans', sans-serif; }

.nav {
  font-size: 12px; }

.nav > li > a {
  color: white; }

.nav > li > a:hover {
  color: #00A064;
  background-color: #1C221E; }

header {
  background-color: #1C221E;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px; }

.cgris {
  color: 1C221E; }

.gris {
  background-color: 1C221E; }

.white {
  background-color: white; }

.red {
  background-color: red; }

.black {
  background-color: black; }

.blue {
  background-color: blue; }

.green {
  background-color: #00A064; }

.cwhite {
  color: white; }

.text2 {
  color: #BFC8C0; }

.col-1-1 {
  width: 100%; }

.center {
  margin: 0 auto; }

.text-center {
  text-align: center; }

.pad {
  padding: 5px; }
