<div>
	<div>
		<div class="col100p">
			<div class="slider-plane-container" >

				<div class="animate-repeat  slider-plane" ng-repeat="item in data.articles ">

					<div >
						<!-- Idea!. Try to directive class or other type //TODO  -->

						<!-- Truncate!. Because not is possible the implementary  of the directive on directive with angular Js.  -->

						<!--
						Not posibble
							<box-information-bgi>
							</box-information-bgi>
						-->
						<article >							
							<img src="{{item.img}}" alt="">
						</article>	
						<div class="level">
							{{item.title1}}
							{{item.title2}}
						</div>											
					</div>
					
				 	 
			    </div>

				
			</div>

		</div>
	</div>
</div>